services:
  kafka:
    image: bitnamilegacy/kafka
    container_name: kafka
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv
    ports:
      - "29092:29092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka

  risingwave:
    image: risingwavelabs/risingwave:latest
    container_name: risingwave
    pull_policy: always
    ports:
      - "4566:4566"
      - "5691:5691"
    command: single_node
    environment:
      - RUST_BACKTRACE=1
    deploy:
      resources:
        limits:
          memory: 4G
        reservations:
          memory: 2G
    shm_size: 1g
    depends_on:
      - kafka

  risingwave-ui:
    image: risingwavelabs/risingwave-console:v0.5.2-pgbundle
    container_name: risingwave-ui
    ports:
      - "8020:8020"
    environment:
      - RW_DB_URL=postgres://root:@risingwave:4566/dev
      - RCONSOLE_ROOT_PASSWORD=your_secure_password
    depends_on:
      - risingwave

